/Lab2JavaSwing/JavaApplication1/nbproject/private/
/Lab2JavaSwing/nbproject/private/
/Lab2JavaSwing/build/
/lab2/Lab2JavaSwing/nbproject/private/
/lab2/Lab2JavaSwing/build/
/lab3/Lab3JavaSwing/nbproject/private/
/lab3/Lab3JavaSwing/build/
/lab3/Lab3Navigation/nbproject/private/
/lab3/Lab3Navigation/build/
/lab3/Lab3_Navigation/nbproject/private/
/lab3/Lab3_Navigation/build/
/Lab5_JavaFX/nbproject/private/
/Lab5/Lab5_JavaFX/nbproject/private/
/Lab5/Lab5_JavaFX/build/
/lab7/Lab7_JDBC/nbproject/private/
/lab7/Lab7_JDBC/build/
